La manipulación de los datos es uno de los trabajos más importantes para el análisis de los mismos, la forma en la que los introducimos, importamos, organizamos, y finalmente exportamos es fundamental para facilitar y mejorar la extración de información del conjunto de datos.

# Guardar

Se puede guardar el espacio de trabajo en el menú File.
También se puede guardar desde la consola en el directorio de trabajo (la dirección dentro de la computadora sobre la que opera R) con el siguiente comando:

In [1]:
save.image() #Guarda archivo como .RData 
save.image(file = "uno.RData")

El archivo queda guardado como un .RData, que puede ser leído directamente por R.

Para saber cuál es nuestro directorio de trabajo y cambiarlo se usan las siguientes funciones:

In [2]:
getwd() #Identificar el directorio
setwd("nueva dirección del directorio") #Cambiar el directorio

[1] "/home/analulae/R_Basico/Módulo 1"

ERROR: Error in setwd("nueva dirección del directorio"): no es posible cambiar el directorio de trabajo

Al cerrar R, o Rstudio, el programa consulta si se desea guardar la imagen del espacio de trabajo, si la respuesta es si, se guarda en ~/.RData y se carga en la siguiente sesión de trabajo.

Es preferible guardar el espacio de trabajo como un proyecto en RStudio y así se guarda también el historial de la sesión e identificamos con un nombre lo realizado.

# Introducir datos

Si son pocos datos, podemos sencillamente teclearlos en la consola.

In [8]:
# Vamos a crear 3 objetos : a, b, c con valores 1, 2, 3
a <- 1
b <- 2
c <- 3
# Veamos que resultado devuelve R con: A, b, c

R es sensible a las mayúsculas

In [4]:
#Creemos un vector
#Función scan()
#Función c()
d <- c(4,5,6,7)
f <- c("Ana", "Pedro", "Pablo")
f
d
c(f, d)

[1] "Ana"   "Pedro" "Pablo"

[1] 4 5 6 7

[1] "Ana"   "Pedro" "Pablo" "4"     "5"     "6"     "7"

Se puede observar que muchos comandos terminan con un par de paréntesis, esto indica que se trata de una función y no de un objeto.

Dentro de los paréntesis se pueden especificar los argumentos de esta función, o, dejarlos vacíos si se desea mantener los valores establecidos por defecto.

Te habrás dado cuenta que trabajar directamente en la consola no es muy práctico, muchas veces es necesario copiar y correr un código varias veces para obtener los resultados deseados, por eso es importante el uso de la ventana de **Scripts.**

En este espacio puedes escribir código en diferentes pestañas y ejecutar la parte necesaria del código sin tener que escribirla de nuevo en la consola.

Para saber cuáles variables se han creado durante la sesión en R o qué paquetes han sido cargados, utiliza:

In [15]:
objects() # Variables creadas, ls() realiza un acción equivalente
search() # Paquetes cargados
# Puedes revisar el contenido de cualquiera de ellas.

[1] "a" "b" "c" "d" "m" "z"

 [1] ".GlobalEnv"        "jupyter:irkernel"  "jupyter:irkernel"
 [4] "package:stats"     "package:graphics"  "package:grDevices"
 [7] "package:utils"     "package:datasets"  "package:methods"
[10] "Autoloads"         "package:base"

Si existe un gran volumen de datos, es necesario importarlos, dependiendo del formato se puede hacer de distintas formas, vamos a revisar los formatos más utilizados (excel, .txt, .csv)

#  Importar datos

Para importar todo tipo de datos podemos hacer dos cosas, posicionarnos en el directorio de trabajo u obtener la ruta donde se encuentra el archivo

## Desde la Consola

### Importar archivos .txt

Los datos planos o ASCII tienen dos características principales:
+ Header 
+ Separación de caracteres -> separación de columnas (comas, puntos y comas, espacios, tabulación (sep = "\t"))

In [10]:
read.table("/home/analulae/R_Basico/Archivos-ejemplo/ejemplo.txt", header = TRUE)

   y1   y2   x1  x2   x3
1  41.5 45.9 162 23.0 3.0
2  33.8 53.3 162 23.0 8.0
3  27.7 57.5 162 30.0 5.0
4  21.7 58.8 162 30.0 8.0
5  19.9 60.6 172 25.0 5.0
6  15.0 58.0 172 25.0 8.0
7  12.2 58.6 172 30.0 5.0
8   4.3 52.4 172 30.0 8.0
9  19.3 56.9 167 27.5 6.5
10  6.4 55.4 177 27.5 6.5
11 37.6 46.9 157 27.5 6.5
12 18.0 57.3 167 32.5 6.5
13 26.3 55.0 167 22.5 6.5
14  9.9 58.9 167 27.5 9.5
15 25.0 50.3 167 27.5 3.5
16 14.1 61.1 177 20.0 6.5
17 15.2 62.9 177 20.0 6.5
18 15.9 60.0 160 34.0 7.5
19 19.6 60.6 160 34.0 7.5

In [11]:
setwd('/home/analulae/R_Basico/Archivos-ejemplo')
read.table(file = "ejemplo.txt", header = TRUE)

   y1   y2   x1  x2   x3
1  41.5 45.9 162 23.0 3.0
2  33.8 53.3 162 23.0 8.0
3  27.7 57.5 162 30.0 5.0
4  21.7 58.8 162 30.0 8.0
5  19.9 60.6 172 25.0 5.0
6  15.0 58.0 172 25.0 8.0
7  12.2 58.6 172 30.0 5.0
8   4.3 52.4 172 30.0 8.0
9  19.3 56.9 167 27.5 6.5
10  6.4 55.4 177 27.5 6.5
11 37.6 46.9 157 27.5 6.5
12 18.0 57.3 167 32.5 6.5
13 26.3 55.0 167 22.5 6.5
14  9.9 58.9 167 27.5 9.5
15 25.0 50.3 167 27.5 3.5
16 14.1 61.1 177 20.0 6.5
17 15.2 62.9 177 20.0 6.5
18 15.9 60.0 160 34.0 7.5
19 19.6 60.6 160 34.0 7.5

### Importar archivos .csv

In [13]:
read.csv("/home/analulae/R_Basico/Archivos-ejemplo/ejemplo.csv", header = TRUE, sep = "")

   y1   y2   x1  x2   x3
1  41.5 45.9 162 23.0 3.0
2  33.8 53.3 162 23.0 8.0
3  27.7 57.5 162 30.0 5.0
4  21.7 58.8 162 30.0 8.0
5  19.9 60.6 172 25.0 5.0
6  15.0 58.0 172 25.0 8.0
7  12.2 58.6 172 30.0 5.0
8   4.3 52.4 172 30.0 8.0
9  19.3 56.9 167 27.5 6.5
10  6.4 55.4 177 27.5 6.5
11 37.6 46.9 157 27.5 6.5
12 18.0 57.3 167 32.5 6.5
13 26.3 55.0 167 22.5 6.5
14  9.9 58.9 167 27.5 9.5
15 25.0 50.3 167 27.5 3.5
16 14.1 61.1 177 20.0 6.5
17 15.2 62.9 177 20.0 6.5
18 15.9 60.0 160 34.0 7.5
19 19.6 60.6 160 34.0 7.5

In [15]:
setwd("/home/analulae/R_Basico/Archivos-ejemplo")
read.csv(file = "ejemplo.csv", header = TRUE, sep = ",")

   y1   y2   x1  x2   x3
1  41.5 45.9 162 23.0 3.0
2  33.8 53.3 162 23.0 8.0
3  27.7 57.5 162 30.0 5.0
4  21.7 58.8 162 30.0 8.0
5  19.9 60.6 172 25.0 5.0
6  15.0 58.0 172 25.0 8.0
7  12.2 58.6 172 30.0 5.0
8   4.3 52.4 172 30.0 8.0
9  19.3 56.9 167 27.5 6.5
10  6.4 55.4 177 27.5 6.5
11 37.6 46.9 157 27.5 6.5
12 18.0 57.3 167 32.5 6.5
13 26.3 55.0 167 22.5 6.5
14  9.9 58.9 167 27.5 9.5
15 25.0 50.3 167 27.5 3.5
16 14.1 61.1 177 20.0 6.5
17 15.2 62.9 177 20.0 6.5
18 15.9 60.0 160 34.0 7.5
19 19.6 60.6 160 34.0 7.5

In [17]:
read.csv2(file = "ejemplo1.csv", header = TRUE, sep = ";")

   y1   y2   x1  x2   x3
1  41.5 45.9 162 23   3
2  33.8 53.3 162 23   8
3  27.7 57.5 162 30   5
4  21.7 58.8 162 30   8
5  19.9 60.6 172 25   5
6  15.0 58.0 172 25   8
7  12.2 58.6 172 30   5
8  4.3  52.4 172 30   8
9  19.3 56.9 167 27.5 6.5
10 6.4  55.4 177 27.5 6.5
11 37.6 46.9 157 27.5 6.5
12 18.0 57.3 167 32.5 6.5
13 26.3 55.0 167 22.5 6.5
14 9.9  58.9 167 27.5 9.5
15 25.0 50.3 167 27.5 3.5
16 14.1 61.1 177 20   6.5
17 15.2 62.9 177 20   6.5
18 15.9 60.0 160 34   7.5
19 19.6 60.6 160 34   7.5

### Importar archivos Excel

Para importar archivos directamente desde excel (.xls) se deben cargar paquetes adicionales o seleccionar los datos, copiarlos y acceder a ellos con este código:

In [24]:
#Abrir el archivo de excel del ejemplo y copiar los datos
read.table(file = "clipboard", sep = "\t", header=TRUE)

  y1   y2   x1  x2 x3
1 41.5 45.9 162 23 3
2 33.8 53.3 162 23 8
3 27.7 57.5 162 30 5
4 21.7 58.8 162 30 8
5 19.9 60.6 172 25 5
6 15.0 58.0 172 25 8

## Desde RStudio

En la ventana superior derecha, en la pestaña Environment, existe el botón "Import Dataset", donde se puede cargar un archivo txt o un URL.

## Exportar

Primero debemos importar los datos:

In [51]:
ejemplo <- read.table(file = "ejemplo.txt", header = TRUE)
write.csv(ejemplo, "ejemplo_nuevo.csv")
ejemplo_csv  <- read.csv(file = "ejemplo_nuevo.csv")
ejemplo_csv

   X  y1   y2   x1  x2   x3
1   1 41.5 45.9 162 23.0 3.0
2   2 33.8 53.3 162 23.0 8.0
3   3 27.7 57.5 162 30.0 5.0
4   4 21.7 58.8 162 30.0 8.0
5   5 19.9 60.6 172 25.0 5.0
6   6 15.0 58.0 172 25.0 8.0
7   7 12.2 58.6 172 30.0 5.0
8   8  4.3 52.4 172 30.0 8.0
9   9 19.3 56.9 167 27.5 6.5
10 10  6.4 55.4 177 27.5 6.5
11 11 37.6 46.9 157 27.5 6.5
12 12 18.0 57.3 167 32.5 6.5
13 13 26.3 55.0 167 22.5 6.5
14 14  9.9 58.9 167 27.5 9.5
15 15 25.0 50.3 167 27.5 3.5
16 16 14.1 61.1 177 20.0 6.5
17 17 15.2 62.9 177 20.0 6.5
18 18 15.9 60.0 160 34.0 7.5
19 19 19.6 60.6 160 34.0 7.5

In [49]:
write.table(ejemplo_csv, "ejemplo_nuevo.txt")
ejemplo_txt  <- read.table(file = "ejemplo_nuevo.txt")
ejemplo_txt

   X  y1   y2   x1  x2   x3
1   1 41.5 45.9 162 23.0 3.0
2   2 33.8 53.3 162 23.0 8.0
3   3 27.7 57.5 162 30.0 5.0
4   4 21.7 58.8 162 30.0 8.0
5   5 19.9 60.6 172 25.0 5.0
6   6 15.0 58.0 172 25.0 8.0
7   7 12.2 58.6 172 30.0 5.0
8   8  4.3 52.4 172 30.0 8.0
9   9 19.3 56.9 167 27.5 6.5
10 10  6.4 55.4 177 27.5 6.5
11 11 37.6 46.9 157 27.5 6.5
12 12 18.0 57.3 167 32.5 6.5
13 13 26.3 55.0 167 22.5 6.5
14 14  9.9 58.9 167 27.5 9.5
15 15 25.0 50.3 167 27.5 3.5
16 16 14.1 61.1 177 20.0 6.5
17 17 15.2 62.9 177 20.0 6.5
18 18 15.9 60.0 160 34.0 7.5
19 19 19.6 60.6 160 34.0 7.5

El paquete "foreign" incluye funciones para compatibilizar el formato de otros paquetes estadísticos y bases de datos (e.g. S, SAS, SPSS, Stata,dBase) para importar y exportar datos desde R.